<div class="container">
    <ul style="list-style-type:none;">
        <li ng-repeat="product in productList">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <a href="#/productDetail/{{product.productId}}"><img width="200px" height="200px" ng-src="{{product.image_link}}" alt="product image"></a>
                </div>
                <div class="col-lg-5 details-text">
                    <div style="height:2em;"></div>
                    <div>
                        <p class="details-productName"><a href="#/productDetail/{{product.productId}}">{{product.productName}}</a></p>
                        <p>by <a href=""><span class="details-vendorName">{{product.vendor.vendor_name}}</span></a></p>
                        <p class="details-price">{{product.productPrice | currency}}</p>
                    </div>
                </div>
            </div>
            <hr>
        </li>
    </ul>
</div>