<div class="container" ng-click="mo()">
            <div class="row">
                <div class="col-md-1">
                    <a href=""><img src="custom/img/product.jpg" alt="product image"></a>
                </div>
                <div class="col-md-9 details-text">
                    <p class="details-productName"><a href="">Product name</a></p>
                    <p>by vendor</p>
                    <p class="details-price">$9.99</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1">
                    <a href=""><img src="custom/img/product.jpg" alt="product image"></a>
                </div>
                <div class="col-md-9 details-text">
                    <p class="details-productName"><a href="">Product name</a></p>
                    <p>by vendor</p>
                    <p class="details-price">$9.99</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1">
                    <a href=""><img src="custom/img/product.jpg" alt="product image"></a>
                </div>
                <div class="col-md-9 details-text">
                    <p class="details-productName"><a href="">Product name</a></p>
                    <p>by vendor</p>
                    <p class="details-price">$9.99</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1">
                    <a href=""><img src="custom/img/product.jpg" alt="product image"></a>
                </div>
                <div class="col-md-9 details-text">
                    <p class="details-productName"><a href="">Product name</a></p>
                    <p>by vendor</p>
                    <p class="details-price">$9.99</p>
                </div>
            </div>
        </div>