<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <h1> Profile</h1>
    </div>
<hr>
</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
    </div>

    <div class="col-lg-8">

        <div class="panel panel-default">
            <div class="panel-heading">Panel heading</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Card Holder</th>
                     
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders">
                         <td>{{order.orderDate | date}}</td>
                         
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-lg-1"></div>

</div>

</div>