<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <h1> Welcome User</h1>
        <hr>
    </div>

</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">

        <ul class="nav nav-stacked">
            <li><a href="/estore/#/customer/payments" target="ext"> payments</a></li>
            <li><a href="/estore/#/customer/addPayment" target="ext"> add Payment</a></li>
            <li><a href="/estore/#/customer/orders" target="ext"><i class="glyphicon glyphicon-list-alt"></i> Orders</a></li>
        </ul>

    </div>

    <div class="col-lg-8">

        <div class="panel panel-success">
            <div class="panel-heading">Payment Cards</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Card Holder</th>
                        <th>Card Number</th>
                        <th>Expiration Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="payment in payments">
                        <td></td>
                         <td>{{payment.cardHolder}}</td>
                         <td>{{payment.cardNum | visaFilter}}</td>
                         <td>{{payment.expiration | date}}</td>
                        <td>  <button class="btn btn-primary" data-ng-click="detetePayment(payment.id)">delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-lg-1"></div>

</div>

</div>