#slides {
    display:none;
}

#slides .slidesjs-next {
margin-right: 5px;		
position: absolute;
right: 0px;
width: 42;
height: 42;
top: 42%;	
background-image: url(../images/left-arrow.png);	
z-index: 3000;
text-indent: -9999px;
}
.details-productName{
    font-size: 200%;
}

.details-price{
    font-size: 150%;
}

.details-border{
    border: 1px solid #ccc;
    border-radius: 10px;
}

.details-text{
    margin-left: 150px;
}

.details-border img{
    margin-top: 10px;
}